<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ubiss.sharescreen" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.aware.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:theme, android:icon" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".VibrationActivity"
            android:label="ShareScreen" >

        </activity>
        <activity
            android:name=".PlottingActivity"
            android:label="@string/title_activity_plotting" >
        </activity>
        <activity
            android:name=".RecordingActivity"
            android:label="@string/title_activity_recording" >

        </activity>
        <activity
            android:name=".SoundDetectionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
